<div class="header-main">
    <div class="header-sub">
        <div class="heading">
            <div>
                <img src="assets/img/avaana.jpg" />
            </div>
            <span>avaana</span>
        </div>

        <div>
            Health and Wellbeing Appointments
        </div>

        <div>
            Fitness Classes
        </div>

        <div class="search-panel">
            <div>
                <mat-icon>search</mat-icon>
            </div>
            <div>
                <mat-icon>account_circle</mat-icon>
            </div>
            
            <button mat-flat-button color="primary">List with us</button>
        </div>
    </div>
</div>