<div class="bottom-container">
    <div class="title">
        <p>Discover wellbeing services near you</p>
        <span>Displaying nearby wellbeing for <b>Hawthorn</b></span>
    </div>

    <div class="card-carousel">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>SUNBEAR SHIATSU</mat-card-title>
                <mat-card-subtitle>HAWTHORN
                    <div>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </div>
                </mat-card-subtitle>

                <div>
                    <mat-icon class="like-con">thumb_up</mat-icon>
                </div>
            </mat-card-header>

            <mat-card-content>
                <div class="card-container">
                    <div class="card-fr">
                        <p>Naturopathic Consultation</p>
                        <p>$50 / hour</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="card-sr">
                        <div>Today, June 28</div>
                        <span>Show all times</span>
                    </div>

                    <div class="card-tr">
                        <div>
                            11:00 AM
                        </div>
                        <div>
                            11:30 AM
                        </div>
                        <div>
                            +29 more
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>SUNBEAR SHIATSU</mat-card-title>
                <mat-card-subtitle>HAWTHORN
                    <div>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </div>
                </mat-card-subtitle>

                <div>
                    <mat-icon class="like-con">thumb_up</mat-icon>
                </div>
            </mat-card-header>

            <mat-card-content>
                <div class="card-container">
                    <div class="card-fr">
                        <p>Naturopathic Consultation</p>
                        <p>$50 / hour</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="card-sr">
                        <div>Today, June 28</div>
                        <span>Show all times</span>
                    </div>

                    <div class="card-tr">
                        <div>
                            11:00 AM
                        </div>
                        <div>
                            11:30 AM
                        </div>
                        <div>
                            +29 more
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>SUNBEAR SHIATSU</mat-card-title>
                <mat-card-subtitle>HAWTHORN
                    <div>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                        <mat-icon>star_border</mat-icon>
                    </div>
                </mat-card-subtitle>

                <div>
                    <mat-icon class="like-con">thumb_up</mat-icon>
                </div>
            </mat-card-header>

            <mat-card-content>
                <div class="card-container">
                    <div class="card-fr">
                        <p>Naturopathic Consultation</p>
                        <p>$50 / hour</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="card-sr">
                        <div>Today, June 28</div>
                        <span>Show all times</span>
                    </div>

                    <div class="card-tr">
                        <div>
                            11:00 AM
                        </div>
                        <div>
                            11:30 AM
                        </div>
                        <div>
                            +29 more
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>


    
    <div class="bind-btn">
        <button mat-flat-button color="primary">FIND MORE WELLBEING NEARBY</button>
    </div>
</div>